<header th:fragment="nav_bar" class="p-3 barraNav">
  <div class="container">

    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <a th:href="@{/}" class="d-flex me-5 text-white text-decoration-none">
        Health Service App
      </a>

      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li><a th:href="@{/}" class="nav-link px-2 text-white btn btn-outline-primary">Inicio</a></li>
        <li><a th:href="@{/especialidades}" class="nav-link px-2 text-white btn btn-outline-primary">Especialidades</a>
        </li>
        <li><a th:href="@{/consulta/provincia}" class="nav-link px-2 text-white btn btn-outline-primary"
            th:if="${session.usuariosession != null and session.usuariosession.getRol().toString().equals('PACIENTE')}">Reservar
            turno</a></li>
        <li><a th:href="@{/paciente/consulta}" class="nav-link px-2 text-white btn btn-outline-primary"
            th:if="${session.usuariosession != null and session.usuariosession.getRol().toString().equals('PACIENTE')}">Tus
            consultas</a></li>

      </ul>

      <div class="text-end d-flex">
        <button class="btn btn-outline-light dropdown-toggle me-3" type="button" data-bs-toggle="dropdown"
          aria-expanded="false" th:if="${session.usuariosession == null}">
          Ingresar
        </button>
        <ul class="dropdown-menu">
          <form th:action="@{/logincheck}" class="formulario p-3" method="POST">
            <div class="form-group my-3">
              <h3 class="card-title">Ingrese sus datos</h3>
            </div>

            <div class="form-group my-3">
              <input type="email" class="form-control" name="email" placeholder="EMAIL" required>
            </div>

            <div class="form-group my-3">
              <input type="password" class="form-control" name="password" placeholder="CONTRASEÑA" required>
            </div>
            <div class="form-group">
              <input class="form-control btn btn-outline-primary" type="submit" name="enviar" value="Iniciar Sesión">
            </div>
          </form>
        </ul>

        <div th:if="${session.usuariosession != null}" sec:authorize="hasAuthority('ROLE_PACIENTE')">
          <a th:href="@{/perfil/datos}" class="btn btn-light me-3" type="button" aria-expanded="false">
            Perfil
          </a>
        </div>

        <div th:if="${session.usuariosession != null}" sec:authorize="hasAuthority('ROLE_PROFESIONAL')">
          <a th:href="@{/profesional/perfil}" class="btn btn-light me-3" type="button" aria-expanded="false">
            Perfil
          </a>
        </div>

        <div th:if="${session.usuariosession != null}" sec:authorize="hasAuthority('ROLE_ADMIN')">
          <a th:href="@{/admin/dashboard}" class="btn btn-light me-3" type="button" aria-expanded="false">
            Dashboard
          </a>
        </div>

        <div th:if="${session.usuariosession != null}">
          <button class="btn btn-secondary me-3" type="button" aria-expanded="false"
            onclick="location.href = '/logout';">
            Cerrar Sesión
          </button>
        </div>



        <button type="button" class="btn btn-light dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"
          th:if="${session.usuariosession == null}">Regístrese</button>
        <ul class="dropdown-menu" th:if="${session.usuariosession == null}">
          <form class="formulario p-3" th:action="@{/registro}" method="POST">

            <div class="form-group my-3">
              <h3 class="card-title">Ingrese sus datos</h3>
            </div>

            <div class="form-group my-3">
              <input type="email" class="form-control" name="email" placeholder="EMAIL" required>
            </div>

            <div class="form-group my-3">
              <input type="password" class="form-control" name="password" placeholder="CONTRASEÑA" minlength="6"
                required>
            </div>

            <div class="form-group my-3">
              <input type="password" class="form-control" name="password2" placeholder="REPETIR CONTRASEÑA"
                minlength="6" required>
            </div>

            <div class="form-group">
              <input class="form-control btn btn-outline-primary" type="submit" name="enviar" value="Registrarse">
            </div>
          </form>
        </ul>

      </div>
    </div>
  </div>
</header>