<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
        <link rel="stylesheet" href="/css/main.css">
        <title>Admin dashboard</title>
    </head>
    <body>

        <!-- NAVBAR -->

        <header th:replace="fragments/navbar :: nav_bar"></header>


        <!-- BANNER -->

        <section class="especialidades mb-5">
            <div class="p-3 p-md-5 text-center">
                <div class="col-md-5 p-lg-3 mx-auto my-5 contenidoE">
                    <h1 class="display-4 fw-normal">Nuestras Especialidades</h1>
                    <p class="lead fw-normal">A través de esta sección se podrá consultar por los profesionales especializados,
                        las prácticas y/o tratamientos y los horarios de atención; es decir, toda la información necesaria para una atención de calidad.
                        Con esta sección, continuamos trabajando en acercar un mejor servicio a nuestros pacientes.
                        Encontrá tu médico o especialista en el horario que más te convenga en la columna de la izquierda de nuestro sitio web.</p>
                </div>
            </div>
        </section>
        
        <!-- SIDE BAR -->

  <div class="d-flex flex-column align-items-stretch flex-shrink-0 bg-body-tertiary" style="width: 380px;">
<div class="d-flex align-items-center flex-shrink-0 p-3 text-decoration-none border-bottom">
  <span class="fs-5 fw-semibold">Especialidades</span>
</div>
<div class="list-group list-group-flush border-bottom scrollarea">
  <a href="#" class="list-group-item list-group-item-action py-3 lh-sm">
    <div class="d-flex w-100 align-items-center justify-content-between">
      <strong class="mb-1">Ginecología</strong>
    </div>
  </a>
  <a href="#" class="list-group-item list-group-item-action py-3 lh-sm">
    <div class="d-flex w-100 align-items-center justify-content-between">
      <strong class="mb-1">Odontología</strong>
    </div>
  </a>
  <a href="#" class="list-group-item list-group-item-action py-3 lh-sm">
    <div class="d-flex w-100 align-items-center justify-content-between">
      <strong class="mb-1">Traumatología</strong>
    </div>
  </a>
</div>
</div>

        <!-- FOOTER -->

        <div th:replace="fragments/footer :: footer"></div>


        
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
    </body>
</html>
